params {
    out_dir = "/vast/scratch/users/zeglinski.k/_work/test/"
    fastq_dir = "/vast/projects/antibody_sequencing/csl_monoclonal/CSL1B_96M/20250305_1622_3D_PAW83261_c7902a65/fastq_pass/"
    tar_path = ""
    sample_sheet = "/vast/projects/antibody_sequencing/csl_monoclonal/CSL1B_96M_sample_sheet.csv"
    vector_type = "antibody"
    help = false
    igblast_databases = "$projectDir/references/igblast/"
    flanking_sequences = "$projectDir/references/flanking.csv"
    irrelevant_reference = "$projectDir/references/irrelevant_ref.fa"
    rotate_sequence = "TTTACACTTTATGCTTCCGGCTCGTATGTTG"
    enable_conda = false
}

// change these as required!
process {
    executor = 'slurm'
    cache = 'lenient'
    time = '2h'
    withLabel: process_tiny {
        cpus = 1
        memory = '0.5G'
    }

    withLabel: process_low {
        cpus = 2
        memory = '1G'
    }

     withLabel: process_medium {
        cpus = 4
        memory = '2G'
    }

    withLabel: process_high {
        cpus = 8
        memory = '4G'
    }
}

executor {
    name = 'slurm'
    queueSize = 100
    queueStatInterval = '10 sec'
    pollInterval = '10 sec'
    submitRateLimit = '10sec'
}

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = false
            runOptions = '-B /vast -B /stornext'
        }
    }

    conda {
        enabled = false // required for 22.08
        cacheDir = ""
        useMamba = true
        docker.enabled = false
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}